<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>ejs</title>
</head>

<body>
  <!-- html 주석 처리 방식으로 브라우저에서 확인 가능 -->
  <%# ejs주석. 브라우저에서 확인되지 않음 %>
    <h1>EJS</h1>
    <h2>HOME</h2>
    <p>기본 작성 방식은 html과 비슷</p>

    <h3>ejs : <%= 10+10+10 %>
    </h3>
    <h3>
      <%= 'ejs' .toUpperCase() %>
    </h3>
</body>

</html>