<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>axios를 이용한 외부 api 호출</title>
</head>

<body>
  <h2>
    <%= name %>
  </h2>
  <ul>
    <% posts.forEach(post=> { %>
      <li>
        <%= post.title %>
      </li>
      <% }) %>

  </ul>
</body>

</html>